.navbar-brand {
	border-radius: 15px;
	text-align: center;
	text-size-adjust: auto;
	text-indent: 15px;
}
.navbar {
	background-image: linear-gradient(
		to right,
		blueviolet,
		blueviolet,
		orchid,
		#9370db,
		#9370db,
		blueviolet,
		#9370db,
		blueviolet,
		orchid,
		#9370db
	);
}
.menu {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-indent: 15%;
}
.btn {
	border-radius: 15px;
	border-color: whitesmoke;
	border: transparent;
}
.card {
	width: 60%;
}
.card-cont {
	align-content: center;
	width: 70%;
	image-rendering: crisp-edges;
	background-image: linear-gradient(
		to bottom right,
		red,
		rgb(139, 28, 93),
		blueviolet
	);
	color: white;
	border: transparent;
}
.card-title {
	font-weight: bold;
}
.bg-color {
	background-color: #9370db;
	border: transparent;
}
.btn-color {
	background-color: blueviolet;
	color: whitesmoke;
}
